
html, body {
      min-height: 100%;
}

body, div, form, input, select { 
      padding: 0;
      margin: 0;
      outline: none;
      font-family: Roboto, Arial, sans-serif;
      font-size: 14px;
      color: #666;
      line-height: 22px;
}

body{
      background-color: #ccccff;
}

h1 {
      margin: 15px 0px 4px;
}

h3, h4 {
      margin: 30px 0 4px;
      font-weight: 400;
}


span {
      color: red;
}
      

.testbox {
      display: flex;
      justify-content: center;
      align-items: center;
      height: inherit;
      padding: 3px;
}

form {
      margin: 0 auto; 
      width:250px;
      padding: 20px;
      background: #fff;
      box-shadow: 0px 10px 50px #6699ff; 
}



input {
      width: calc(100% - 10px);
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 3px;
      vertical-align: middle;
}

input:hover, textarea:hover, select:hover {
      outline: none;
      border: 1px solid #095484;
      background: #e6eef7;
}


select {
      padding: 7px 0;
      border-radius: 3px;
      border: 1px solid #ccc;
      background: transparent;
}

select, table {
      width: 100%;
}

option {
      background: #fff;
}

      
.btn-block {
      margin-top: 20px;
      text-align: center;
}

button {
      width: 150px;
      padding: 10px;
      border: none;
      -webkit-border-radius: 5px; 
      -moz-border-radius: 5px; 
      border-radius: 5px; 
      background-color: #095484;
      font-size: 16px;
      color: #fff;
      cursor: pointer;
}

button:hover {
      background-color: #0666a3;
}
